<a href="https://colab.research.google.com/github/phoenix2000/NNFL/blob/main/NNFL_Q6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':'1QhDxyM3_ZtQsVV9Bflm-QcRDQUExXkN7'}) 
downloaded.GetContentFile('data2.xlsx')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
from mpl_toolkits.mplot3d import Axes3D
data=pd.read_excel('data2.xlsx', names=['x1','x2','x3','x4'])
data

      x1   x2   x3   x4
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

In [ ]:
def k_means_clustering(k):
  k_means=data.sample(k,replace=False)
  k_means=pd.DataFrame()
  clusters

In [ ]:
while not k_means.equals(k_means2):
  cnt_cluster=0
  for idx, k_mean in k_means.iterrows():
    clusters[cnt_cluster]=(data[k_means.columns]-np.array(k_mean)).pow(2).sum(1).pow(0.5)
    cnt_cluster+=1
  
  
  data['Labels']=clusters.idxmin(axis=1)

  k_means2=k_means
  k_means=pd.DataFrame()
  k_means_frame=data.groupby('Labels').agg(np.mean)

  k_means[k_means_frame.columns]=k_means_frame[k_means_frame.columns]

In [ ]:
def k_means_cluster(k):
  k_means=data.sample(k,replace=False)
  k_means2=pd.DataFrame()
  clusters=pd.DataFrame()
  #print('Initial means:\n', k_means)

  while not k_means2.equals(k_means):
    num_cluster=0
    for idx, k_mean in k_means.iterrows():
      clusters[num_cluster]=(data[k_means.columns]-np.array(k_mean)).pow(2).sum(1).pow(0.5)
      num_cluster+=1
    
    data['Labels']=clusters.idxmin(axis=1)

    k_means2=k_means
    k_means=pd.DataFrame()
    k_means_frame=data.groupby('Labels').agg(np.mean)
    k_means[k_means_frame.columns]=k_means_frame[k_means_frame.columns]
    print(k_means.equals(k_means2))

    data_graph=[go.Scatter(
        x=data['x1'],y=data['x2'].where(data['Labels']==c),mode='markers',name='Cluster'+str(c)) 
        for c in range (k)]

    data_graph.append(
        go.Scatter(
            x=k_means['x1'],y=k_means['x2'],mode='markers',marker=dict(size=10,color='#000000',
                                                                         ),name='Centroids'
                                                                         )
    )

    data_graph

In [ ]:
k_means_cluster(3)

False
False
False
False
False
False
True

In [ ]:
for col in data.columns:
  print (col)

x1
x2
x3
x4
Labels